<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="scroll-area">
                        <div style="width:100%;height:680px;">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="message" class="form-control" placeholder="Enter Query...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
