<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create a Request</h4>
                    </div>
                    <div class="content">
                        <form #requestProcessing="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Application Name</label>
                                        <ng-select  [allowClear]="true"  [items]="appNames"
                                                    [disabled]="appNameDisabled"
                                                    (data)="refreshAppName($event)"
                                                    (selected)="selectedAppName($event)"
                                                    (removed)="removedAppName($event)"
                                                    (typed)="typedAppName($event)"
                                                    placeholder="Search or Select an application" [(ngModel)]="ticket.appName" name="appName">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Request Type</label>
                                        <ng-select [allowClear]="false"  [items]="appRequestTypes"
                                                    [disabled]="requestTypeDisabled"
                                                    (data)="refreshRequestType($event)"
                                                    (selected)="selectedRequestType($event)"
                                                    (removed)="removedRequestType($event)"
                                                    (typed)="typedRequestType($event)"
                                                    placeholder="Search or Select a request type" [(ngModel)]="ticket.requestType" name="requestType">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" name="loan" class="form-control" placeholder="Brief Subject of the issue" [(ngModel)]="ticket.loanNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Loan #</label>
                                        <input type="text" name="loan" class="form-control" placeholder="Loan No." [(ngModel)]="ticket.loanNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Case No.</label>
                                        <input type="text"  class="form-control" name="case" placeholder="Case No." [(ngModel)]="ticket.caseNo">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="5" class="form-control" placeholder="Issue description" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right" (click)="checkTicketInfo()">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
